@tailwind base;
@tailwind components;
@tailwind utilities;


.nav{
    padding: 20px 10px;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8%);
    backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    z-index: 9999;
}

.nav__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem ;
}

li a{
    color: black;
    text-transform: uppercase;
}

li a:hover{
    color: blue;
    transition: all 0.5s ease;
    padding: 6px 10px;
    background-color: #d4d1cf;
    border-radius: 10px;
}